.vscode
*/obj_dir/
*/*.vcd
0x0006_Add32F/data.tb
0x0013_Sub32F/data.tb
0x0023_Mul32F/data.tb
0x0032_Div32F/data.tb
0x0400_Decoder/prog.S
0x0400_Decoder/prog.o
0x0400_Decoder/prog
0x0400_Decoder/prog.mc
0x0500_Mem/prog.S
0x0500_Mem/prog.o
0x0500_Mem/prog
0x0500_Mem/prog.mc
0x0600_MicroarchSC/prog.S
0x0600_MicroarchSC/prog.o
0x0600_MicroarchSC/prog
0x0600_MicroarchSC/prog.mc